extends ../../layout/layout

block head-title
  title Functional Programming For The Rest Of Us

block content

  h1 Functional Programming For The Rest Of Us

  .page-content-index

    ul
     li: a(href="introduction.html") Introduction
     li: a(href="a-walk-in-the-park.html") A Walk In The Park
     li: a(href="a-bit-of-history.html") A Bit Of History
     li: a(href="functional-programming.html") Functional Programming
     li: a(href="Benefits-of-fp.html") Benefits Of Fp
     li: a(href="higher-order-functions.html") Higher Order Functions
     li: a(href="currying.html") Currying
     li: a(href="lazy-evaluation.html") Lazy Evaluation
     li: a(href="continuations.html") Continuations
     li: a(href="pattern-matching.html") Pattern Matching
     li: a(href="closures.html") Closures
     li: a(href="whats-next.html") Whats Next
