extends ../../layout/layout

block head-title
  title Functional Programming For The Rest Of Us

block content

  h1 Functional Programming For The Rest Of Us

  .page-content-index

    ul
     li: a(href="https://github.com/drypot/programming-memo") 이사 갔습니다.
