
extends ../../layout/layout

block head-title
  title What's Next?

block content

  .page-title
    h1 What's Next?

  .page-content

    p 원문:&nbsp;
      a(href="http://www.defmacro.org/ramblings/fp.html", target="_blank") http://www.defmacro.org/ramblings/fp.html

    p This article only scratches the surface of functional programming. Sometimes a small scratch can progress to something bigger and in our case it's a good thing. In the future I plan to write about category theory, monads, functional data structures, type systems in functional languages, functional concurrency, functional databases and much more. If I get to write (and in the process learn) about half of these topics my life will be complete. In the meantime, Google is our friend.

    p.go-to-index
      a(href="index.html") Functional Programming For The Rest Of Us

