extends ../layout/layout

block content

  h1 Drypot Writings

  .page-content-index
    ul
      li 지금은 정비가 불가능한 예전 글 창고입니다.

      li 아래 리포로 일부 옮긴 것도 있습니다.

      li: a(href="https://github.com/drypot/linux-memo" target="_blank") https://github.com/drypot/linux-memo
      li: a(href="https://github.com/drypot/programming-memo" target="_blank") https://github.com/drypot/programming-memo
      li: a(href="https://github.com/drypot/geum-gang-gyeong" target="_blank") https://github.com/drypot/geum-gang-gyeong
      li: a(href="https://drypot.github.io" target="_blank") https://drypot.github.io
