extends ../layout/layout

block content

  h1 Writings

  .page-content-index
    ul
      //- li: a(href="letsencrypt") Simple Let's Encrypt
      li: a(href="fp-for-the-rest") Functional Programming For The Rest of Us

    ul
      li: a(href="https://drypot.github.io/geum-gang-gyeong/" target="_blank") 금강경은 이사갔습니다
      li 나머지 오래된 글들은 코멘트 아웃되었습니다.
      //- li: a(href="installing-arch") Installing Arch
      //- li: a(href="installing-arch-extras") Installing Arch Extras
      //- li: a(href="mdadm") MDADM
      //- li: a(href="scala-prog") Programming in Scala
      //- li: a(href="java-spring") Java Spring
      //- li: a(href="java-hibernate") Java Hibernate

    ul
      li: a(href="https://drypot.github.io" target="_blank") https://drypot.github.io
