extends ../layout/layout

block content

  h1 Writings

  .page-content-index
    ul
      //- li: a(href="letsencrypt") Simple Let's Encrypt
      li: a(href="fp-for-the-rest") Functional Programming For The Rest of Us
      //- li: a(href="installing-arch") Installing Arch
      //- li: a(href="installing-arch-extras") Installing Arch Extras
      //- li: a(href="mdadm") MDADM
      //- li: a(href="scala-prog") Programming in Scala
      //- li: a(href="java-spring") Java Spring
      //- li: a(href="java-hibernate") Java Hibernate
      li: a(href="geum-gang-gyeong") 금강경

    ul
      li: a(href="https://drypot.github.io" target="_blank") https://drypot.github.io
