
extends ../../layout/layout

block head-title
  title 금강경

block content

  .page-title
    h1 금강경

  .page-content-index

    a(href="https://drypot.github.io/geum-gang-gyeong/" target="_blank") 금강경은 이사갔습니다.

